<div class="appointment-info" *ngIf="posts$ | async as posts">
    <div class="appointment-info__table">
        <div class="appointment-info__label">id автора поста</div>
        <div class="appointment-info__label">id поста</div>
        <div class="appointment-info__label">Название поста</div>
        <div class="appointment-info__label">Содержание поста</div>

        <ng-container *ngFor="let post of posts">
            <div class="appointment-info__data">{{ post.userId }}</div>
            <div class="appointment-info__data">{{ post.id }}</div>
            <div class="appointment-info__data">{{ post.title | shorten: 20 }}</div>
            <div
                class="appointment-info__data tooltip"
                (click)="open(post.id)"
            >
                {{ post.body | shorten: 30 }}
                <span class="tooltip-text">Подробнее</span>
            </div>
        </ng-container>
    </div>
</div>
