.meta-page {
    width: 70%;
    padding: 107px 40px 25px;
}

@media screen and (max-width: 1150px) {
    .meta-page {
        margin-bottom: 100px;
    }

}

@media screen and (max-width: 895px) {
    .meta-page {
        padding: 61px 0 10px 0;
    }
}
