<div class="post">
    <div class="post__body">
        <div class="post__title">
            Подробная информация о посте
        </div>
        <div class="post__content">
            <post></post>
        </div>
        <a
            class="navigation-button"
            routerLink=".."
        >
            <div class="navigation-button__content">
                <img
                    class="navigation-button__icon"
                    ngSrc="assets/images/backspace-arrow.svg"
                    alt="кнопка назад"
                    height="24"
                    width="24"
                >
                <p class="navigation-button__name">Вернуться к таблице</p>
            </div>
        </a>
    </div>
</div>
